.landing-main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.landing-search-div {
  width: 22rem;
  margin-top: 6rem;
}

@media screen and (max-width: 600px) {
    
    .landing-search-div {
        width: 18rem;
        
      }
}